/* Footer.css */

#main-footer {
    background-color: #1E90FF;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'GmarketSansMedium';
    position: fixed;
    padding-top: 30px;
    height: 50px;
  }
  
  #main-footer p {
    margin: 0 auto;
  }
  
  #main-footer span {
    font-weight: bold;
  }
  
  /* 여백 추가 */
  #main-footer .col {
    margin: 5px;
  }

  @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}